
<%if current_user%>
    <%=render partial: "books/list"%>
<%else%>
    

<div class= "containter">
    <div class = "jumbotron bg-primary text-white">
        <h1 class="text-center display-1">Welcome to <br> <b>I Want Books</b></h1>
    </div>
    <div class = "container-sm">
        <span style="font-size:30px">
        <p>I Want Books is a social media site driven by what people are reading.
        You can see comments on books and what people have in their libraries at the click of a button.
        You can also read and buy books direct from Google with our awesome API integration. If you're a big reader,
        then this is the site for you.
        </p>
        </span>
        </div>
    </div>
</div>

<%end%>


