<h1 class="text-center">Welcome to I Want Books</h1>

<% if current_user%>
    <%=link_to "Sign out", destroy_user_session_path, method: :delete %>

<%else%>
    <%= link_to "sign in", new_user_session_path%>

    <%= link_to "sign Up", new_user_registration_path%>
<%end%>
