<br>
<h1><%=@book.title%></h1>
<br>
<h2><%=@book.author%></h2>
<%=link_to "Read Book", @book.preview_link, target: :_blank%>
<br>
<br>
<%=render partial: "comments/list", locals: {user_comments: current_user.most_recent_comments(5)} %>